/*Variaveis*/

$html5: url("/../src/images/html-5.svg");
$css3:  url("/../src/images/css-3.svg");
$git: url("/../src/images/git-icon.svg");
$sass: url("/../src/images/sass.svg");
$ufo: url("/../src/images/ufo.png");
$top-alien: url("/../src/images/alien.svg");
$down-alien: url("/../src/images/alien-down.jpg");

/*General*/
section, header {
  height: 100vh;
}

h2.center-align {
  margin: 0;
}

h2 {
  padding: 40px;
}


/*Header*/
header {

}

/*Section sobre*/
section#about {
  .col {
    height: 100vh;
  }
  .ufo {
    position: relative;
    left: 20%;
    width: 100px;
    height: 150px;
    background: {
      size: 100px 150px;
      image: $ufo;
    }
  }

  .photos {
    position: relative;
    right: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .down-photo {
    position: relative;
    width: 400px;
    height: 300px;
    background: {
      size: 400px 400px;
      image: $down-alien;
      repeat: no-repeat;
    }
  }

  .top-photo {
    transition: all 0.1s linear;
    position: absolute;
    width: 400px;
    height: 300px;
    background: {
      size: 400px 400px;
      image: $top-alien;
      repeat: no-repeat;
    }
  }
}

/*Section skills*/
section#skills {
  .card {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .card.one {
    background-image: $html5;
  }
  .card.two {
    background-image: $css3;
  }
  .card.three {
    background-image: $git;
  }
  .card.four {
    background-image: $sass;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}

/*Ajustando os cards*/

.card {
  background-size: cover;
}

/*Footer*/
footer#contact {

}

 footer {
   height: 15vh;
 }

/*Flip transition*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back, .card {
	width: 250px;
	height: 250px;
  margin: 10px 0 10px 0;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .flip-container, .front, .back, .card {
  	width: 150px;
  	height: 150px;
  }
}
