doctype html
html(lang="en")
  head
    link(href="dist/css/main.css" rel="stylesheet")
  body
    h1 Jullia Saad
    header
      ul
        li Home
        li Sobre
        li Contato
    section
      p.
        Eu sou muito legal
