doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" href="dist/css/materialize.min.css"  media="screen,projection")
    link(href="dist/css/main.css" rel="stylesheet")

  body
    header.light-blue.lighten-4
      div.row
        div.header-content.col.s12
          img#profilePicture(src="src/images/me.jpg")
          div.description
            h1 Jullia Saad
            p Web developer padawan
            p 20 anos
            p Acredito que o melhor verbo é #[span aprender].

    section#about
      div.row
        div.col.l6.grey.lighten-1.icons        
          a.fa.fa-github-square(href="https://github.com/julliasaad/" target="_blank")
          a.fa.fa-facebook-square(href="https://github.com/julliasaad/" target="_blank")
          a.fa.fa-linkedin-square(href="https://github.com/julliasaad/" target="_blank")
        div.col.l6.grey.lighten-3

    section#skills.light-blue.lighten-4
      h2.center-align Skills
        div
          div.row
            div.col.s6.m6.l3
              div.flip-container
                div.flipper
                  div.front
                    div.card.one.transparent
                      div.card-content
                  div.back
                    div.card.one.transparent
                      div.card-content
            div.col.s6.m6.l3
              div.flip-container
                div.flipper
                  div.front
                    div.card.two.transparent
                      div.card-content
                  div.back
                    div.card.two.transparent
                      div.card-content
            div.col.s6.m6.l3
              div.flip-container
                div.flipper
                  div.front
                    div.card.three.transparent
                      div.card-content
                  div.back
                    div.card.three.red.transparent
                      div.card-content
            div.col.s6.m6.l3
              div.flip-container
                div.flipper
                  div.front
                    div.card.four.transparent
                      div.card-content
                  div.back
                    div.card.four.transparent
                      div.card-content
          div.row
            div.col.s12
              div.flip-container
                div.flipper
                  div.front
                    div.card.five.transparent
                      div.card-content
                  div.back
                    div.card.five.transparent
                      div.card-content
    footer#contact.grey.lighten-3
      div.row
        div.col.s3
        div.col.s3
        div.col.s3
        div.col.s3
      div.row
        div.col.s12
          p Site developed with ♥ by Jullia Saad
