doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" href="dist/css/materialize.min.css"  media="screen,projection")
    link(href="dist/css/main.css" rel="stylesheet")
  body
    header.blue.accent-1
      div.row
        div.col.s6
          div#title
            h1 Jullia Saad
            p Web developer padawan
        div.col.s6
            img
    section#about
      div.row
        div.col.s12.center-align
          h2 Sobre
          p 20 anos, acredito que o melhor verbo é #[span aprender].
          p ADS - 4º semestre, Fatec Sorocaba.
    section#skills
      h2.center-align Skills
      div.row
        div.col.s4
        div.col.s4
        div.col.s4
      div.row
        div.col.s4
        div.col.s4
        div.col.s4
    footer#contact
      div.row
        div.col.s3
        div.col.s3
        div.col.s3
        div.col.s3
