doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="dist/css/main.css" rel="stylesheet")
  body
    header
      div#title
        h1 Jullia Saad
        p A web developer padawan
    section#about
      p 20 anos, acredito que o melhor verbo é #[span aprender]. 
    section#resume
    section#skills
    section#contact
    footer
      ul.social
        li
        li
        li
        li
