doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" href="dist/css/materialize.min.css"  media="screen,projection")
    link(href="dist/css/main.css" rel="stylesheet")

  body

    div.navbar.navbar-fixed-top
      nav.navbar-inner.header.grey.lighten-3
        div.container
          ul.nav.pull-right
            li 
              a.nav-link(href="#home") HOME
            li 
              a.nav-link(href="#portfolio") PORTFOLIO
            li 
              a.nav-link(href="#contact") CONTATO

    header#home
      div.row
        div.header-content.col.s12
          div.description
            h1 Jullia Saad
            p Web developer padawan
            p 20 anos
            p Acredito que o melhor verbo é #[span aprender]

    //- section#about
    //-   div.row
    //-     div.col.l6.grey.lighten-1.icons        
    //-       a.fa.fa-github-square(href="https://github.com/julliasaad/" target="_blank")
    //-       a.fa.fa-facebook-square(href="https://github.com/julliasaad/" target="_blank")
    //-       a.fa.fa-linkedin-square(href="https://github.com/julliasaad/" target="_blank")
    //-     div.col.l6.grey.lighten-3

    section#portfolio.grey.darken-4
      div(class="case1" ontouchstart="this.classList.toggle('hover')")
        div.grey.lighten-2
        a(href="http://app.govarejo.com.br/")
          img(src="src/images/case1.png")

      div(class="case2" ontouchstart="this.classList.toggle('hover')")
        div.grey.lighten-2
        a(href="http://ranchodev.com.br/")
          img(src="src/images/case2.png")

    footer#contact.grey.lighten-3
      div.row.social-medias
        div.col.s4
          a.fa.fa-github-square(href="https://github.com/julliasaad/" target="_blank")
        div.col.s4
          a.fa.fa-facebook-square(href="https://github.com/julliasaad/" target="_blank")
        div.col.s4
          a.fa.fa-linkedin-square(href="https://github.com/julliasaad/" target="_blank")
      div.row
        div.col.s12
          p Site developed with ♥ by Jullia Saad
